.inputBox {
    width: 1000px;
    height: 500px;
}
label {
    display: block;
    text-align: left;
}
.buttons {
    display: block;
    text-align: left;
}
th {
    text-align: left;
}
tr {
    text-align: left;
}
